@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto+Mono&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

p, a{
    font-family: 'Open Sans', sans-serif;
    font-size: 300;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.social i {
    color: white;
    font-size: 1.7rem;
}

hr {
    border: none;
    border: 1px solid white;
    width: 100%;
    background-color: white;
}

.portfolio .col-md-4 {
    height: 30vh;
    overflow: hidden;
}

#special-rule {
    height: 7px;
    background-color: white;
    border: 1px solid white;
}